h3,p,h4{
    color:floralwhite;
}
.submit-button {
    margin-top: 10px;
}
body{
    height:100%;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/assets/images/sucsessbg.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
}
