<head>
      
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
<body >
<br/>
<br/>

<div align="center">
<div >
    <img src="./assets/images/greentick.jpg" width="100px" height="100px"  style="margin-left: 50px;">
    <h3>Payment Complete</h3>
    <p>Secured payment is made through this website.</p>
</div>
<div>
    <p>Your order is confirmed</p>
    
</div>
<div> 
    <img src="./assets/images/tq.jpg" width="200px" height="200px" style="margin-left: 20px;">
    <h4> Thank You!</h4>
    <h4>Visit Again!</h4>
</div>
<div>
    <a [routerLink]="['/items']" class="card-link"> <button class=" btn btn-primary" >Back</button></a>
</div>
</div>
<br/>
<br/>
<br/>
</body>